@import "./modules/reset.css";
@import "./modules/variaveis.css";
@import "./modules/home.css";
@import "./modules/initial.css";
@import "./modules/footer.css";

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

.firstblock {
  border: 1px solid grey;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}
.escrito1 {
  font-size: 16px;
  font-weight: 100;
  display: grid;
  padding: 10px;
  border: 1px solid;
  line-height: 1.4;
}
.firstblock img {
  max-width: 300px;
  display: flex;
}

.secondblock {
  border: 1px solid grey;
  border-radius: 4px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  margin-top: 40px;
}
.secondblock p {
  font-size: 16px;
  font-weight: 100;
  display: flex;
  padding: 10px;
}
.secondblock img {
  max-width: 100px;
  padding-left: 50px;
  float: left;
  padding: 10px;
}
.thirdblock {
  border: 1px solid grey;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 10px;
}
.thirdblock p {
  font-size: 16px;
  font-weight: 100;
  display: flex;
  padding: 10px;
}
.thirdblock img {
  max-width: 100px;
  padding-left: 50px;
  float: right;
  padding: 10px;
}
