@media screen and (max-width: 700px) {

    .pattern:first-child {
        margin: 0 1rem;
    }

    .logo {
        height: 1.5rem;
    }

    .initial, .container-footer, .firstblock, .secondblock, .thirdblock {
        flex-direction: column;
    }

    .image-initial {
        margin-top: 2.5rem;
    }

    .escrito1, .escrito2, .escrito3 {
       margin-right: 0;
       margin-left: 0;
    }

    .initial-div, .image-initial, .firstblock, .secondblock, .thirdblock, .community {
        width: 80vw;
        text-align: center;
    }

    .firstblock, .secondblock, .thirdblock {
        padding: 0;
        align-items: center;
    }

    .secondblock img {
        clear: both;
        text-align: center;
    }

    .community {
        margin-top: 50px;
    } 

    .footer {
        padding: 0;
    }

    .logo-footer {
        margin: 2rem 0 2rem 5rem;
    }

    .element-container-list {
        gap: 20px;
        width: 100%;
    }

    .small-component-footer {
        text-align: center;
    }
}